let mapleader=" "

""" Plugins
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

""" Common settings
set showmode
set nu

""" Idea specific settings
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=5
set incsearch
set number relativenumber

" Don't use Ex mode, use Q for formatting.
map Q gq

""" Mappings --------------------------------
""" Navigation
map <leader>f <Plug>(easymotion-s)
map <leader><leader>f <Action>(FindUsages)
map <leader>g <Action>(GotoDeclaration)
map <leader>j <Action>(MethodDown)
map <leader>k <Action>(MethodUp)
map <S-Space> <Action>(GotoNextError)

"map <leader>o <Action>(MoveTabRight)
"map <leader>i <Action>(MoveEditorToOppositeTabGroup)
"map <leader>k <Action>(NextSplitter)

""" Editing
map <leader>e <Action>(ExpandRegion)
map <leader><leader>e <Action>(ExpandAllRegions)
map <leader>c <Action>(CollapseRegion)
map <leader><leader>c <Action>(CollapseAllRegions)
map <leader>s <Action>(ShowErrorDescription)

""" Refactoring
map <leader>m <Action>(ExtractMethod)
map <leader>r <Action>(RenameElement)
map <leader>v <Action>(IntroduceVariable)
map <leader>n <Action>(Inline)

""" Multiple Carets & Selections

""" Running & Debugging
map <leader>b <Action>(ToggleLineBreakpoint)
"map <leader>d <Action>(Debug)
"map <leader>c <Action>(Stop)

""" VCS/Local History
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

""" General
map <leader><leader>h <Action>(HideAllWindows)
map <leader><leader>s <Action>(SelectInProjectView)
